.cuartos-section {
    min-height: 100vh;
    padding: 80px 5%;
    background: linear-gradient(to right, #000000 55%, rgba(0,0,0,0.35)),
                url("../Imagenes/monumental noche.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: rgb(208, 10, 10);
    gap: 40px;
}

/* Contenedor del texto */
.cuartos-texto {
    max-width: 500px;
}

/* Títulos grandes */
.cuartos-texto h1 {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

/* Párrafos */
.cuartos-texto p {
    font-size: 18px;
    line-height: 1.6;
    color: #f3f4f3;
}

/* Imagen del costado */
.cuartos-img img {
    width: 820px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(211, 27, 27, 0.6);
}

/* Alineación debajo */
.alineacion-blanca img {
    display: block;
    margin: 40px auto;
    width: 90%;
    max-width: 550px;
    border-radius: 10px;
}
