Historico{ /*cuartos de final*/
    color: rgb(243, 242, 242);
    text-align: center;
    background-color: rgb(184, 104, 0);
    
    
}

.contenido-centro {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centra horizontalmente */
    text-align: center;   /* Centra el texto del figcaption */
    margin-top: 20px;
    
}
.parrafos{
  color: #b26f04;
  align-items: center;
}
/* Imagen centrada y ajustada */
.fotos-goles {
    display: block;
    max-width: 90%;  /* Para que no haga scroll horizontal */
    height: auto;
    margin: 0 auto;
}

/* Alineaci칩n del p치rrafo */
#intro p {
    text-align: center;   /* Centra el texto */
    max-width: 900px;
    margin: 0 auto;       /* Centra el p치rrafo en la p치gina */
}
#formaciones img {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
    }