
.final-texto {
    max-width: 550px;
}

.final-titulo {
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.final-texto p {
    font-size: 18px;
    line-height: 1.7;
    color: #eaeaea;
}



.final-img {
    flex-shrink: 0;        /* evita que empuje y genere scroll */
}

.final-img img {
    width: 680px;          /* 👉 ajustá acá el tamaño que quieras */
    max-width: 100%;       
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(211, 27, 27, 0.6);
    display: block;
}