.galeria-container {
  
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    grid-auto-rows: 300px;
    gap: 40px;
    background: #16b90e;
    
    
}

.galeria-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;   /* Recorta sin deformar */
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(249, 249, 248, 0.2);
    transition: transform 0.3s ease;
    
}

.galeria-container img:hover {
    transform: scale(1.05);
}

.fotos-galeria{
  text-align: center;
    color: #623f03;
    margin-bottom: 20px;
    font-size: 35.5px;
  }
  .carousel-container {
    max-width: 900px;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-control-prev,
.carousel-control-next {
    width: 8%;
}