/*Componentes*/ 
@use "./cuartos";
@use "./final";
@use "./semi";
@use "./octavos";
@use "./plantel";
@use "./galeria";
@use "./nosotros";
@use "./header";
@use "./footer";
@use "./botones";
@use "./variables";