.titulo-batacazo {
    text-align: center;
    font-size: 1.8rem;
    margin: 20px 10px;
}

/* Contenedor del texto */
#intro p {
    padding: 0 15px;
    font-size: 1rem;
    line-height: 1.5;
}

/* Imagen central */
.fotos-goles {
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
}

/* Formaciones */
#formaciones img {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
}