
.semi-section, .final-section {
    min-height: 100vh;
    background: linear-gradient(to right, #000000 55%, rgba(0,0,0,0.35)),
                url("../Imagenes/festejo vs casla.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 60px 5%;
    gap: 40px;
    color: white;
}

.semi-texto, .final-texto {
    max-width: 550px;
}

.semi-titulo, .final-titulo {
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.semi-texto p, .final-texto p {
    font-size: 18px;
    line-height: 1.7;
    color: #eaeaea;
}

.semi-img img  {
    width: 820px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(211, 27, 27, 0.6);
    }