

/* ===== RESET GENERAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monomaniac One", sans-serif;
}

body {
  
  line-height: 1.6;
  background-color: #f1f0f0;
  color: #333;
}




/* ===== HEADER ===== */
header {
  display: flex;
  justify-content: center;       /* Centra el nav-container dentro del header */
  align-items: center;
  padding: 1rem 2rem;
  background-color: #623f03;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* NAV CONTAINER */
.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

/* ESCUDO */
.escudo {
  height: 60px;
}

/* DROPDOWN */
.dropdown {
  margin-left: 10px;
  position: relative;
  background-color: #16b90e;
}

.dropdown-btn {
  
  color: #8f4805;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}



.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  min-width: 150px;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  color: #b06202;
  text-decoration: none;
  
}

.dropdown-menu li a:hover {
  background: #b96206;
}

/* Mostrar menú al pasar */
.dropdown:hover .dropdown-menu {
  display: block;
}



  


/* ===== SECCIÓN HERO ===== */
#hero {
  padding: 3rem 1rem;
  min-height: 80vh;
  background: linear-gradient(
    rgba(113, 71, 3, 0.9),
    rgba(231, 230, 229, 0.95));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f5f5f5;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Monomaniac One", sans-serif;
  color: #fff;
}

.img.festejo {
  width: 60%;
  max-width: 700px;
  border-radius: 20px;
  margin-bottom: 3rem;
  object-fit: cover;
}

/* Botones generales */
.resumen-btn {
  background-color: brown;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.resumen-btn:hover {
  background-color: #a52a2a;
  transform: scale(1.05);
}

/* ===== GRILLA DE PARTIDOS ===== */
.avellaneda-grid {
  margin: 2rem auto;
  padding: 3rem 1rem;
  background-color: #935601;
  color: #fafafa;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
}

.partido {
  background: rgba(255, 255, 255, 0.08);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.partido h2 {
  color: #fff;
  margin-bottom: 0.5rem;
}

.partido img {
  width: 100%;
  height: 135px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.partido img:hover {
  transform: scale(1.0);
  background-color: #f4f6f4;
  padding: 10px;
}

.partido .etapa {
  font-weight: bold;
  margin: 1rem 0;
  color: #fff;
}

/* ===== FORMULARIO ===== */
#formulario {
  padding: 3rem 1rem;
  max-width: 800px;
  margin: 3rem auto;
  background-color: rgb(250, 250, 198);
  border-radius: 10px;
  color: #a35f07;
}

#formulario h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #ad7204;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  padding: 0.8rem;
  border: 1px solid #f3f3f4;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  background-color: brown;
  color: #fbfcfb;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #a52a2a;
}


.opinion-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

/* Tamaño de las imágenes */
.side-img {
  width: 150px;
  height: auto;
}


#formulario {
  max-width: 800px;
}

.octavos-hero {
    min-height: 100vh;
    background: linear-gradient(to right, #000000 55%, rgba(0, 0, 0, 0.4)),
                url("../Imagenes/Festejo vs racing.jpg"); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 80px 5%;
    color: white;
}

/* Texto del lado izquierdo */
.octavos-hero .texto {
    max-width: 500px;
}

.octavos-hero h1 {
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}

.octavos-hero p {
    font-size: 18px;
    line-height: 1.7;
    color: #e8e8e8;
}

/* Imagen del lado derecho */
.octavos-hero img {
    width: 820px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(211, 27, 27, 0.6);
}


.cuartos-section {
    min-height: 100vh;
    padding: 80px 5%;
    background: linear-gradient(to right, #000000 55%, rgba(0,0,0,0.35)),
                url("../Imagenes/monumental noche.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: rgb(208, 10, 10);
    gap: 40px;
}

/* Contenedor del texto */
.cuartos-texto {
    max-width: 500px;
}

/* Títulos grandes */
.cuartos-texto h1 {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

/* Párrafos */
.cuartos-texto p {
    font-size: 18px;
    line-height: 1.6;
    color: #f3f4f3;
}

/* Imagen del costado */
.cuartos-img img {
    width: 820px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(211, 27, 27, 0.6);
}

/* Alineación debajo */
.alineacion-blanca img {
    display: block;
    margin: 40px auto;
    width: 90%;
    max-width: 550px;
    border-radius: 10px;
}



.semi-section, .final-section {
    min-height: 100vh;
    background: linear-gradient(to right, #000000 55%, rgba(0,0,0,0.35)),
                url("../Imagenes/festejo vs casla.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 60px 5%;
    gap: 40px;
    color: white;
}

.semi-texto, .final-texto {
    max-width: 550px;
}

.semi-titulo, .final-titulo {
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.semi-texto p, .final-texto p {
    font-size: 18px;
    line-height: 1.7;
    color: #eaeaea;
}

.semi-img img  {
    width: 820px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(211, 27, 27, 0.6)
}

.final-img {
    flex-shrink: 0;        
}

.final-img img {
    width: 680px;          
    max-width: 100%;       
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(211, 27, 27, 0.6);
    display: block;
}
  
  













#formaciones {
  text-align: center;
  margin: 3rem 0;
}





.categoria {
    margin-bottom: 10px;
}
.plantel h1{
  text-align: center;
    color: #623f03;
    margin-bottom: 40px;
    font-size: 2.5rem;
}
.categoria h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
    position: relative;
}

/* Línea debajo del h2 */
.categoria h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #623f03;
    margin: 8px auto 0;
}

/* Contenedor de jugadores */
.figurita {
    display: flex;
    flex-wrap: wrap;      
    gap: 12px;            
    justify-content: center; 
    overflow: hidden;     
    position: relative; 
    
}

/* Imágenes */
.figurita img {
  
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    background-color: #a96b09ce;
    padding: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center;
    
    
}


.figurita img:hover {
    transform: scale(1.05);
    background-color: #926203;
    padding: 10px;
}




.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li a {
    background-color: rgb(196, 14, 14);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.3s ease;
}

.nav-links li a:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.galeria-container {
  
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    grid-auto-rows: 300px;
    gap: 40px;
    background: #16b90e;
    
    
}

.galeria-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;   
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(249, 249, 248, 0.2);
    transition: transform 0.3s ease;
    
}

.galeria-container img:hover {
    transform: scale(1.05);
}

.fotos-galeria{
  text-align: center;
    color: #623f03;
    margin-bottom: 20px;
    font-size: 35.5px;
  }
  .carousel-container {
    max-width: 900px;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-control-prev,
.carousel-control-next {
    width: 8%;
}

/*NOSOTROS*/

/* ===== FORMULARIO ===== */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

form input,
form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid #d9d4ce;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #faf8f5;
  resize: none;
}

form input:focus,
form textarea:focus {
  border-color: #4b2e05;
  outline: none;
}

/* ===== BOTÓN ENVIAR ===== */
button {
  background-color: #4b2e05;
  color: rgb(238, 241, 241);
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b4612;
}

/* ===== FOOTER ===== */
footer {
  text-align: center;
  background-color: #4b2e05;
  color: white;
  padding: 1rem 0;
  margin-top: 3rem;
  font-size: 0.9rem;
}


/* ======= LOGO REDES ======= */
.redes {
  display: flex;
  justify-content: flex-end; /* los manda a la derecha */
  align-items: center;
  gap: 10px; /* separación entre íconos */
  margin-right: 20px;
  margin-bottom: 10px;
}

.redes img {
  width: 54px;  /* tamaño pequeño */
  height: 54px;
  transition: transform 0.2s;
}

.redes img:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) { /*celular*/
  .jugadores {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 10px;
    justify-items: center; /* centra cada imagen */
  }

  .jugadores img {
    width: 100px;        /* ajusta tamaño */
    height: 130px;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {  /*tablet*/
  .jugadores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
  }

  .jugadores img {
    width: 130px;
    height: 170px;
  }
}
  
  

/* Responsive */
@media (max-width: 768px) {
  .opinion-wrapper {
    flex-direction: column;
  }

  .side-img {
    display: none;
  }
  .contenido-centro{
    display: none;
  }
    
}
main {
    margin-top: 80px;  
}

@media (max-width: 900px) {
    .octavos-hero, .cuartos-section, .semi-section, .final-section{
        flex-direction: column;
        text-align: center;
        background-position: right;
    }

    .octavos-hero-img {
        margin: 40px 0 0 0;
        width: 80px;
      
    }
}


